# Digunakan oleh server saja. Jangan beri prefix NEXT_PUBLIC_.
FORM_PIN=4491
GOOGLE_SPREADSHEET_ID=1K1WQMAhjCkvbUqUZitUZ9a9eGjLENnuCLiO7UCTywzQ
GOOGLE_SHEET_TAB=Sheet1
GOOGLE_SERVICE_ACCOUNT_FILE=kunci_google.json
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nGANTI_DENGAN_PRIVATE_KEY\\n-----END PRIVATE KEY-----\\n"
